@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 600px) {
    #sticky-banner {
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 15s linear infinite;
  }

  /* .custom-list-disc {
    list-style-type: disc;
    font-size: 1.5em; 
  } */